.body {
    margin: 0 0 0 0;
}
.top-div {
    height: 20%;
    background-color: black;
    color: red;
    padding: 50px;
}

.left-div {
    max-height: 50%;
    background-color: blue;
    color: red;
    padding: 50px;
}

.right-div {
    min-height: 50%;
    background-color: blue;
    color: red;
    padding: 50px;
}

.bottom-row {
    min-height: 20%;
    background-color: black;
    color: red;
    padding: 50px;
}

.usrInput {
    margin: 10px;
}